
.cardReverse-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: calc(var(--vh) * 100 - 4px);
    // min-height: -moz-available;
    // min-height: -webkit-fill-available;
    border: 2px solid rgb(205, 103, 10);
}

.cardReverse-content {
    margin-top: 12vh;
    margin-top: calc(var(--vh) * 12);
    height: 70%;
    // background-color: red;
    overflow-y: auto;
}

.cardReverse-flexRow-container {
    display: flex;
    flex-direction: row;
    // margin-bottom: 10%;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6%;
        transform: rotate(-90deg);

        h6 {
            font-size: 1rem;
            color: rgb(60,108,120);
            margin: 0px;
        }
    }

    p {
        font-size: 1rem;
        color: rgb(60,108,120);
        margin: 0.4rem 0px 0.4rem 0px;
    }
}

.personalInformation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h3, h5, h6 {
        margin: 0px
    }

    h3 {
        margin-top: 1rem;
        margin-bottom: 0.4rem;
        color: rgb(205, 103, 9);
    }

    h5 {
        font-size: 0.9rem;
        color: rgb(60,108,120);
    }

    h6 {
        margin-bottom: 1rem;
        font-size: 0.8rem;
        font-weight: 500;
        color: rgb(60,108,120);
    }
}

.cardReverse-borderClip1 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 8%;
    width: 45%;
    background-color: rgb(60,108,120);
    clip-path: polygon(0 0, 100% 0, 30% 62%, 0 100%);
}
.cardReverse-borderClip2 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 12%;
    width: 45%;
    background-color: rgb(123,154,158);
    clip-path: polygon(0 0, 80% 0, 80% 0, 0 100%);
}
.cardReverse-borderClip3 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20%;
    width: 12%;
    background-color: rgb(205,103,9);
    clip-path: polygon(0 0, 62% 70%, 100% 100%, 0 100%);
}
.cardReverse-borderClip4 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20%;
    width: 19%;
    background-color: rgb(221, 157, 102);
    clip-path: polygon(0 20%, 62% 70%, 100% 100%, 0 100%);
}
.cardReverse-borderClip5 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 8%;
    width: 45%;
    background-color: rgb(60,108,120);
    clip-path: polygon(0 100%, 62% 42%, 100% 0, 100% 100%);
}
.cardReverse-borderClip6 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 12%;
    width: 45%;
    background-color: rgb(123,154,158);
    clip-path: polygon(20% 100%, 67% 42%, 100% 0, 100% 100%);
}

.cardReverse-iconFlip {
    position: absolute;
    top: 12px;
    right: 5px;
}